html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}
:root {
  font-size: 62.5%;
  --cursive: "Audiowide", cursive;
  --serif: "Cinzel Decorative", serif;
}
body {
  background-image: url(../images/woodBG.jpg);
  background-size: 100%;
  font-family: sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
main{
  width: 350px;
  height: 500px;
  text-align: center;
  background-image: url(../images/bg.png);
  border: solid 3px rgba(245, 245, 245, 0.941);
  color: white;
}

#title{
  font-size: 50px;
  font-weight: bolder;
  padding: 10px 0;
  font-family: var(--serif);
}
#dealer-text{
  text-align: left;
  margin-left: 9px;
  font-size: 7px;
  font-family: var(--cursive);
}
#player-text{
  text-align: left;
  margin-left: 9px;
  font-size: 7px;
  font-family: var(--cursive);
}

#dealer-card > .card{
  margin: 5px 1px;
}

#player-card > .card{
  margin: 5px 1px;
}

#msg{
  margin: 5px 0;
  font-family: var(--cursive);
  font-size: 12px;
  font-weight: 0px;
  letter-spacing: 0.8px;
}

#hit-stand > .hit{
  background-color: transparent;
  width: 70px;
  padding: 0px;
  margin-top: 10px;
}
#hit-btn{
  width: 90%;
}
#hit-stand > .stand{
  background-color: transparent;
  width: 70px;
  padding: 0px;
  margin-top: 10px;
}
#stand-btn{
  width: 90%;
}
#new-game{
  margin: 10px;
  background-color: rgb(184, 69, 96);
  color: rgb(255, 254, 255);
  border: solid 2px whitesmoke;
  border-radius: 25px; 
  font-size: smaller;
  font-family: var(--cursive);
}

@media only screen and (min-width: 700px) {
  main {
    text-align: center;
    width: 650px; 
    height: 420px; 
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 30% auto auto;
    grid-template-areas: 
      "title title"
      "dealer msg"
      "player button";
  }
  
#title{
  font-size: 85px;
  font-weight: bolder;
  grid-area: title;
  padding: 0;
  margin: 10px 0 0 0;
}

#dealer-card{
  grid-area: dealer;
  padding: 0 0 0 40px;
}

#msg{
  grid-area: msg;
  margin: 30px 10px 0 10px;
  font-size: 14px;
  letter-spacing: 0.5px;
}

#player-card{
  grid-area: player; 
  margin-bottom: 50px;
  padding: 10px 0 0 40px;
}
#group-button{
  grid-area: button;
  margin: 0 50px ;
}
.hit{
  margin-right: 5px;
  border-radius: 20px;
}
#new-game{
  margin-top: 15px;
}
}
