html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}
:root {
  font-size: 62.5%;
}
body {
  background-color: rgb(220, 220, 220);
  font-family: sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
main{
  width: 350px;
  height: 500px;
  text-align: center;
  background-image: url(../images/bg.png);
  color: white;
}

#title{
  font-size: xx-large;
  font-weight: bolder;
  padding: 20px 0 0 0;
}

#dealer-card{
  padding-top: 30px; 
}

#player-card{
  padding-top: 30px; 
}

#hit-stand > .btn{
  background-color: whitesmoke;
  color: darkgreen;
}
#new-game{
  margin: 10px;
  background-color: whitesmoke;
  color: darkgreen
}

@media only screen and (min-width: 600px) {
  main {
    text-align: center;
    width: 650px; 
    height: 420px; 
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 35% auto auto;
    grid-template-areas: 
      "title title"
      "dealer msg"
      "player button";
  }
  
#title{
  font-size: 85px;
  font-weight: bolder;
  grid-area: title;
}

#dealer-card{
  grid-area: dealer;
  padding: 30px 0 0 40px;
}

#msg{
  grid-area: msg;
  margin: 30px 50px 0 0;
  font-size: 20px;
}

#player-card{
  grid-area: player; 
  margin-bottom: 50px;
  padding: 0 0 0 40px;
}
#group-button{
  grid-area: button;
  margin: 0 50px 0 0;
}
.hit{
  margin-right: 5px;;
}
#new-game{
  margin-top: 15px;
}
}
